{% extends "base.html" %}

{% block content %}
	{% if activities %}
	<h1>{{ subject }}</h1>
	<p>
		Activities for this subject:
	</p>
	<ul>
		{% for activity in activities %}
		<li>
			<h2>{{ activity.activity }}</h2>
			<ul>
				{% for note in activity.notes %}
				{{note.date}} {{note}}
				[<a href="{% url "client.views.note_open" note_id=note.pk %}">open</a>]
				{% if note.owner == user or note.access == 'open' %}
				[<a href="{% url "client.views.note_edit" note_id=note.pk %}">edit</a>]
				{% endif %}
				<br/>
				{% endfor %}
			</ul>
		</li>
		<p>
			Create
			<a href="{% url "client.views.note_create" access_type="open" subject_abbr=subject.abbr activity_type=activity.activity.type %}">open</a> |
			<a href="{% url "client.views.note_create" access_type="public" subject_abbr=subject.abbr activity_type=activity.activity.type %}">public</a> |
			<a href="{% url "client.views.note_create" access_type="private" subject_abbr=subject.abbr activity_type=activity.activity.type %}">private</a> |
		</p>
		{% endfor %}
	</ul>
	{% else %}
	<p>
		No subjects are available.
	</p>
	{% endif %}
{% endblock %}
