{% extends "empty.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static "js/libs/jquery-2.0.3.js" %}"></script>
<script src="{% static "js/libs/base64v1_0.js" %}"></script>
<script src="{% static "js/libs/diff-match-patch/diff_match_patch_uncompressed.js" %}"></script>
<script src="{% static "js/pad/sync.js" %}"></script>
{% endblock %}

{% block body %}
	<script>
		academia.pad_id = {{ note_id }};
		academia.pad_port = {{ pad_port }};
		academia.token = "{{ token }}";
	</script>
	<div contenteditable="true" id="pad-content">
		{{ content }}
	</div>
{% endblock %}
