## Whether application is running on DEBUG or on PRODUCTION mode.
#  Troubleshooting is easier on DEBUG mode, it's also possible to run
#  development server which requires less configuration and is easier to start
#  off. However running production site in DEBUG mode may lead to security
#  violatations. Development server is also far slowlier than PRODUCTION
#  solution.
DEBUG = True

ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

MANAGERS = ADMINS

## Settings related to socket-based services responsible for real time
#  collaboration between users.
PADSERVERS = {
    'wsserver': {
        'host': 'example.com',
        'port': 5002
    },
    'tcpserver': {
        'host': 'example.com',
        'port': 5001
    },
}

## Database settings. Database and its user with adequate credentials and
#  privileges needs to be created manually before launch of application.
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',  # 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'academia',  # Or path to database file if using sqlite3.
        'USER': 'academia',       # Not used with sqlite3.
        'PASSWORD': 'password',  # Not used with sqlite3.
        'HOST': '',  # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',  # Set to empty string for default. Not used with sqlite3.
    }
}

## Hosts/domain names that are valid for this site; required if DEBUG is False
#  See https://docs.djangoproject.com/en/1.4/ref/settings/#allowed-hosts
ALLOWED_HOSTS = ['example.com']

## Local time zone for this installation. Choices can be found here:
#  http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
#  although not all choices may be available on all operating systems.
#  In a Windows environment this must be set to your system time zone.
TIME_ZONE = 'US/Central'

## Language code for this installation. All choices can be found here:
#  http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

## This setting specifies the database ID of the Site object associated with
#  the particular settings file that uses this config.
SITE_ID = 1

## If you set this to False, Django will make some optimizations so as not
#  to load the internationalization machinery.
USE_I18N = True

## If you set this to False, Django will not format dates, numbers and
#  calendars according to the current locale.
USE_L10N = True

## If you set this to False, Django will not use timezone-aware datetimes.
USE_TZ = True

## Absolute filesystem path to the directory that will hold user-uploaded
#  files. Example: "/home/media/media.lawrence.com/media/"
MEDIA_ROOT = ''

## URL root on which user-uploaded files are served. Example: "/media/"
MEDIA_URL = ''

## Make this unique, and don't share it with anybody.
#  May be generated by:
#
#    ./manage.py secretkey [--length=<INTEGER>]
SECRET_KEY = """change this!"""

## Directory in which log files shall be stored.
from academia.defs import PROJECT_DIR
LOGS_DIR = PROJECT_DIR + "/logs/"
