{% extends "empty.html" %}
{% load staticfiles %}
{% load webapp %}

{% block scripts %}
<script src="{% static "webapp/js/pad.js" %}"></script>
{% endblock %}

{% block body %}
	<script>
		academia.pad = {
			ID: "{{ note_id }}",
			CONNSTRING: "{{ pad_connstring }}",
			TOKEN: "{{ token }}"
		};
	</script>
	<div id="pad" class="pad-theme-light">
		<div id="pad-content">{{ content|spacify|linebreaksbr }}</div>
		<div id="pad-menu">
			menu
			<div id="pad-menu-switch">
				switch
			</div>
		</div>
	</div>
{% endblock %}
