{% extends "empty.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static "webapp/js/libs/jquery-2.0.3.js" %}"></script>
<script src="{% static "webapp/js/libs/base64v1_0.js" %}"></script>
<script src="{% static "webapp/js/libs/diff-match-patch/diff_match_patch_uncompressed.js" %}"></script>
<script src="{% static "webapp/js/pad.js" %}"></script>
{% endblock %}

{% block body %}
	<script>
		academia.pad = {
			ID: {{ note_id }},
			PORT: {{ pad_port }},
			TOKEN: "{{ token }}"
		};
	</script>
	<div contenteditable="true" id="pad-content">{{ content }}</div>
{% endblock %}
