@mixin create-font-faces($name, $path, $format, $regular, $bold: false, $italic: false, $bold-italic: false) {
  @font-face
  {
    font-family: $name;
    src: url(../fonts/#{$path}/#{$regular}.#{$format});
  }
  @if $bold {
    @font-face
    {
      font-family: $name;
      src: url(../fonts/#{$path}/#{$bold}.#{$format});
      font-family: bold;
    }
  }
  @if $italic {
    @font-face
    {
      font-family: $name;
      src: url(../fonts/#{$path}/#{$italic}.#{$format});
      font-family: italic;
    }
  }
  @if $bold-italic {
    @font-face
    {
      font-family: $name;
      src: url(../fonts/#{$path}/#{$bold-italic}.#{$format});
      font-family: bold-italic;
    }
  }
}
@include create-font-faces(AnonymousPro, anonymous-pro, $format: ttf, $regular: Anonymous_Pro);
@include create-font-faces(NotCourierSans, notcouriersans, $format: otf, $regular: NotCourierSans, $bold: NotCourierSans-Bold);

@mixin font-family-mono {
  font-family: NotCourierSans;
}
@mixin font-family-base {
  font-family: AnonymousPro;
}
@mixin font-family-deco {
}
.font-family-base {
  @include font-family-base;
}
.font-family-mono {
  @include font-family-mono;
}
.font-family-deco {
  @include font-family-deco;
}

@mixin font-size($size-ratio: 1) {
  @include any-size(font-size, $size-ratio);
}
$line-height-standard: $size-standard;
$font-size-standard: 0.67 * $size-standard;
@mixin font-size-standard {
  @include font-size($font-size-standard);
  @include any-size(line-height, $line-height-standard);
}
$font-size-bigger: 0.83 * $size-standard;
@mixin font-size-bigger {
  @include font-size($font-size-bigger);
  @include any-size(line-height, $line-height-standard);
}

html, body {
  @include font-family-base;
  @include font-size-standard;
}
h1, h2, h3, h4, h5, h6 {
  @include font-family-deco;
}