<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.killerapps.academia"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.killerapps.academia.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.killerapps.academia.activities.pad.PadActivity"
            android:label="@string/title_activity_pad"
            android:parentActivityName="pl.killerapps.academia.activities.subject.AktivityActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.killerapps.academia.activities.subject.AktivityActivity" />
        </activity>
        <activity
            android:name="pl.killerapps.academia.activities.ConnectActivity"
            android:label="@string/title_activity_connect"
            android:parentActivityName="pl.killerapps.academia.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.killerapps.academia.ConnectActivity" />
        </activity>
        <activity
            android:name="pl.killerapps.academia.activities.subject.SubjectsActivity"
            android:label="@string/title_activity_subjects"
            android:parentActivityName="pl.killerapps.academia.activities.ConnectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.killerapps.academia.ConnectActivity" />
        </activity>
        <activity
            android:name="pl.killerapps.academia.activities.subject.AktivityActivity"
            android:label="@string/title_activity_aktivity" >
        </activity>
    </application>

</manifest>
