{% extends "empty.html" %}
{% load webapp %}
{% block body %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static "webapp/css/style.css" %}" />
{% endblock %}

<div id="page-wrapper">
    <nav id="nav-top">
        {% block sidebar %}
        <ul>
            <li><a href="{% url "webapp.views.subject_list" %}">Home</a></li>
            {% if user.is_authenticated %}<li><a href="{% url "webapp.views.signout" %}">Logout</a></li>{% endif %}
        </ul>
        {% endblock %}
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
	<footer id="page-footer">{% copyright_notice %}</footer>
</div>
{% endblock %}
