<HTML><HEAD><TITLE>Strategic Business Plan</TITLE>
</HEAD><BODY>
<H1 ALIGN="CENTER">Strategic Business Plan</H1>
<I>{Opening}:</I>
<OL>
<LI>{Bizplan}
<LI>{Bizplan}
<LI>{Bizplan}
</OL>
{BizplanClosing}
</BODY></HTML>
