html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; }

legend {
  color: #000; }

#yui3-css-stamp.cssreset {
  display: none; }

a:link {
  color: #0055C0; }

a:active {
  color: #F00; }

a:visited {
  color: #8D1788; }

@media screen {
  body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-y: visible !important; }

  html, body {
    height: 100%; }

  #page-wrapper {
    min-height: 100%;
    position: relative; }

  #page-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }

  @font-face {
    font-family: AnonymousPro;
    src: url(../fonts/anonymous-pro/Anonymous_Pro.ttf); }

  @font-face {
    font-family: NotCourierSans;
    src: url(../fonts/notcouriersans/NotCourierSans.otf); }

  @font-face {
    font-family: NotCourierSans;
    src: url(../fonts/notcouriersans/NotCourierSans-Bold.otf);
    font-family: bold; }

  .font-family-base {
    font-family: AnonymousPro; }

  .font-family-mono {
    font-family: NotCourierSans; }

  html, body {
    font-family: AnonymousPro;
    font-size: 10.05px;
    font-size: 1.005rem;
    line-height: 15px;
    line-height: 1.5rem; }

  #nav-top, #page-footer {
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    background-color: #555;
    color: #fff; }
    #nav-top *, #page-footer * {
      color: #fff; }
    #nav-top ul li, #page-footer ul li {
      display: inline-block; }

  #nav-top {
    margin-bottom: 1rem; }

  #page-wrapper {
    padding-bottom: 3rem; }

  #page-footer {
    text-align: center; }

  #pad-content {
    font-family: NotCourierSans;
    font-size: 12.45px;
    font-size: 1.245rem;
    line-height: 15px;
    line-height: 1.5rem;
    padding: 15px;
    padding: 1.5rem;
    position: fixed;
    padding-top: 55px;
    padding-top: 5.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto; }

  #pad-menu {
    transition: top 0.2s ease;
    -moz-transition: -moz-top 0.2s ease;
    -webkit-transition: -webkit-top 0.2s ease;
    -ms-transition: -ms-top 0.2s ease;
    -o-transition: -o-top 0.2s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 40px;
    padding-right: 4rem;
    min-height: 40px;
    min-height: 4rem;
    box-shadow: 0 0 10px black; }
    #pad-menu #pad-menu-switch {
      position: fixed;
      top: 0;
      right: 0;
      width: 40px;
      width: 4rem;
      height: 40px;
      height: 4rem; }

  #pad-menu.collapsed {
    top: -40px;
    top: -4rem; }

  .pad-theme-light #pad-menu, .pad-theme-light #pad-menu-switch {
    background-color: white; }

  .pad-theme-dark .hljs {
    background: #23241f;
    color: #f8f8f2; }
    .pad-theme-dark .hljs .hljs-strongemphasis,
    .pad-theme-dark .hljs .hljs-emphasis {
      color: #f92672; }
    .pad-theme-dark .hljs .hljs-bullet,
    .pad-theme-dark .hljs .hljs-blockquote,
    .pad-theme-dark .hljs .hljs-number,
    .pad-theme-dark .hljs .hljs-regexp,
    .pad-theme-dark .hljs .alias .hljs-keyword,
    .pad-theme-dark .hljs .hljs-literal,
    .pad-theme-dark .hljs .hljs-hexcolor {
      color: #ae81ff; }
    .pad-theme-dark .hljs .hljs-horizontal_rule {
      color: lightgrey;
      width: 100%; }
    .pad-theme-dark .hljs .hljs-bullet {
      font-weight: bold; }
    .pad-theme-dark .hljs .hljs-strong,
    .pad-theme-dark .hljs .hljs-tag .hljs-value,
    .pad-theme-dark .hljs .hljs-code,
    .pad-theme-dark .hljs .hljs-title,
    .pad-theme-dark .hljs .css .hljs-class,
    .pad-theme-dark .hljs .hljs-class .hljs-title:last-child {
      color: #a6e22e; }
    .pad-theme-dark .hljs .hljs-link_url {
      font-weight: bold;
      text-decoration: underline; }
    .pad-theme-dark .hljs .hljs-strong,
    .pad-theme-dark .hljs .hljs-strongemphasis {
      font-weight: bold; }
    .pad-theme-dark .hljs .hljs-emphasis,
    .pad-theme-dark .hljs .hljs-strongemphasis,
    .pad-theme-dark .hljs .hljs-class .hljs-title:last-child {
      font-style: italic; }
    .pad-theme-dark .hljs .hljs-keyword,
    .pad-theme-dark .hljs .hljs-function,
    .pad-theme-dark .hljs .hljs-change,
    .pad-theme-dark .hljs .hljs-winutils,
    .pad-theme-dark .hljs .hljs-flow,
    .pad-theme-dark .hljs .lisp .hljs-title,
    .pad-theme-dark .hljs .clojure .hljs-built_in,
    .pad-theme-dark .hljs .nginx .hljs-title,
    .pad-theme-dark .hljs .tex .hljs-special,
    .pad-theme-dark .hljs .hljs-attribute,
    .pad-theme-dark .hljs .hljs-symbol,
    .pad-theme-dark .hljs .hljs-symbol .hljs-string,
    .pad-theme-dark .hljs .hljs-tag .hljs-title,
    .pad-theme-dark .hljs .hljs-value,
    .pad-theme-dark .hljs .alias .hljs-keyword:first-child,
    .pad-theme-dark .hljs .css .hljs-tag,
    .pad-theme-dark .hljs .css .unit,
    .pad-theme-dark .hljs .css .hljs-important {
      color: #a8a8a2; }
    .pad-theme-dark .hljs .hljs-header,
    .pad-theme-dark .hljs .hljs-function .hljs-keyword,
    .pad-theme-dark .hljs .hljs-class .hljs-keyword:first-child,
    .pad-theme-dark .hljs .hljs-constant,
    .pad-theme-dark .hljs .css .hljs-attribute {
      color: #66d9ef; }
    .pad-theme-dark .hljs .hljs-header {
      font-weight: bold; }
    .pad-theme-dark .hljs .hljs-variable,
    .pad-theme-dark .hljs .hljs-params,
    .pad-theme-dark .hljs .hljs-class .hljs-title {
      color: #f8f8f2; }
    .pad-theme-dark .hljs .hljs-string,
    .pad-theme-dark .hljs .css .hljs-id,
    .pad-theme-dark .hljs .hljs-subst,
    .pad-theme-dark .hljs .haskell .hljs-type,
    .pad-theme-dark .hljs .ruby .hljs-class .hljs-parent,
    .pad-theme-dark .hljs .hljs-built_in,
    .pad-theme-dark .hljs .sql .hljs-aggregate,
    .pad-theme-dark .hljs .django .hljs-template_tag,
    .pad-theme-dark .hljs .django .hljs-variable,
    .pad-theme-dark .hljs .smalltalk .hljs-class,
    .pad-theme-dark .hljs .django .hljs-filter .hljs-argument,
    .pad-theme-dark .hljs .smalltalk .hljs-localvars,
    .pad-theme-dark .hljs .smalltalk .hljs-array,
    .pad-theme-dark .hljs .hljs-attr_selector,
    .pad-theme-dark .hljs .hljs-pseudo,
    .pad-theme-dark .hljs .hljs-addition,
    .pad-theme-dark .hljs .hljs-stream,
    .pad-theme-dark .hljs .hljs-envvar,
    .pad-theme-dark .hljs .apache .hljs-tag,
    .pad-theme-dark .hljs .apache .hljs-cbracket,
    .pad-theme-dark .hljs .tex .hljs-command,
    .pad-theme-dark .hljs .hljs-prompt,
    .pad-theme-dark .hljs .hljs-link_label {
      color: #59afcf; }
    .pad-theme-dark .hljs .hljs-link_url {
      color: #008abe; }
    .pad-theme-dark .hljs .hljs-comment,
    .pad-theme-dark .hljs .hljs-javadoc,
    .pad-theme-dark .hljs .java .hljs-annotation,
    .pad-theme-dark .hljs .python .hljs-decorator,
    .pad-theme-dark .hljs .hljs-template_comment,
    .pad-theme-dark .hljs .hljs-pi,
    .pad-theme-dark .hljs .hljs-doctype,
    .pad-theme-dark .hljs .hljs-deletion,
    .pad-theme-dark .hljs .hljs-shebang,
    .pad-theme-dark .hljs .apache .hljs-sqbracket,
    .pad-theme-dark .hljs .tex .hljs-formula {
      color: #75715e; }
    .pad-theme-dark .hljs .coffeescript .javascript,
    .pad-theme-dark .hljs .javascript .xml,
    .pad-theme-dark .hljs .tex .hljs-formula,
    .pad-theme-dark .hljs .xml .javascript,
    .pad-theme-dark .hljs .xml .vbscript,
    .pad-theme-dark .hljs .xml .css,
    .pad-theme-dark .hljs .xml .hljs-cdata,
    .pad-theme-dark .hljs .xml .php,
    .pad-theme-dark .hljs .php .xml {
      opacity: 0.5; }

  .pad-theme-light .hljs {
    background: #fdfdfd;
    color: #29220e; }
    .pad-theme-light .hljs .hljs-strongemphasis,
    .pad-theme-light .hljs .hljs-emphasis {
      color: #ff003d; }
    .pad-theme-light .hljs .hljs-bullet,
    .pad-theme-light .hljs .hljs-blockquote,
    .pad-theme-light .hljs .hljs-number,
    .pad-theme-light .hljs .hljs-regexp,
    .pad-theme-light .hljs .alias .hljs-keyword,
    .pad-theme-light .hljs .hljs-literal,
    .pad-theme-light .hljs .hljs-hexcolor {
      color: #ae81ff; }
    .pad-theme-light .hljs .hljs-horizontal_rule {
      color: lightgrey;
      width: 100%; }
    .pad-theme-light .hljs .hljs-bullet {
      font-weight: bold; }
    .pad-theme-light .hljs .hljs-strong,
    .pad-theme-light .hljs .hljs-tag .hljs-value,
    .pad-theme-light .hljs .hljs-code,
    .pad-theme-light .hljs .hljs-title,
    .pad-theme-light .hljs .css .hljs-class,
    .pad-theme-light .hljs .hljs-class .hljs-title:last-child {
      color: #8dce0c; }
    .pad-theme-light .hljs .hljs-link_url {
      font-weight: bold;
      text-decoration: underline; }
    .pad-theme-light .hljs .hljs-strong,
    .pad-theme-light .hljs .hljs-strongemphasis {
      font-weight: bold; }
    .pad-theme-light .hljs .hljs-emphasis,
    .pad-theme-light .hljs .hljs-strongemphasis,
    .pad-theme-light .hljs .hljs-class .hljs-title:last-child {
      font-style: italic; }
    .pad-theme-light .hljs .hljs-keyword,
    .pad-theme-light .hljs .hljs-function,
    .pad-theme-light .hljs .hljs-change,
    .pad-theme-light .hljs .hljs-winutils,
    .pad-theme-light .hljs .hljs-flow,
    .pad-theme-light .hljs .lisp .hljs-title,
    .pad-theme-light .hljs .clojure .hljs-built_in,
    .pad-theme-light .hljs .nginx .hljs-title,
    .pad-theme-light .hljs .tex .hljs-special,
    .pad-theme-light .hljs .hljs-attribute,
    .pad-theme-light .hljs .hljs-symbol,
    .pad-theme-light .hljs .hljs-symbol .hljs-string,
    .pad-theme-light .hljs .hljs-tag .hljs-title,
    .pad-theme-light .hljs .hljs-value,
    .pad-theme-light .hljs .alias .hljs-keyword:first-child,
    .pad-theme-light .hljs .css .hljs-tag,
    .pad-theme-light .hljs .css .unit,
    .pad-theme-light .hljs .css .hljs-important {
      color: #a8a8a2; }
    .pad-theme-light .hljs .hljs-header,
    .pad-theme-light .hljs .hljs-function .hljs-keyword,
    .pad-theme-light .hljs .hljs-class .hljs-keyword:first-child,
    .pad-theme-light .hljs .hljs-constant,
    .pad-theme-light .hljs .css .hljs-attribute {
      color: #1bc5c5; }
    .pad-theme-light .hljs .hljs-header {
      font-weight: bold; }
    .pad-theme-light .hljs .hljs-variable,
    .pad-theme-light .hljs .hljs-params,
    .pad-theme-light .hljs .hljs-class .hljs-title {
      color: #f8f8f2; }
    .pad-theme-light .hljs .hljs-string,
    .pad-theme-light .hljs .css .hljs-id,
    .pad-theme-light .hljs .hljs-subst,
    .pad-theme-light .hljs .haskell .hljs-type,
    .pad-theme-light .hljs .ruby .hljs-class .hljs-parent,
    .pad-theme-light .hljs .hljs-built_in,
    .pad-theme-light .hljs .sql .hljs-aggregate,
    .pad-theme-light .hljs .django .hljs-template_tag,
    .pad-theme-light .hljs .django .hljs-variable,
    .pad-theme-light .hljs .smalltalk .hljs-class,
    .pad-theme-light .hljs .django .hljs-filter .hljs-argument,
    .pad-theme-light .hljs .smalltalk .hljs-localvars,
    .pad-theme-light .hljs .smalltalk .hljs-array,
    .pad-theme-light .hljs .hljs-attr_selector,
    .pad-theme-light .hljs .hljs-pseudo,
    .pad-theme-light .hljs .hljs-addition,
    .pad-theme-light .hljs .hljs-stream,
    .pad-theme-light .hljs .hljs-envvar,
    .pad-theme-light .hljs .apache .hljs-tag,
    .pad-theme-light .hljs .apache .hljs-cbracket,
    .pad-theme-light .hljs .tex .hljs-command,
    .pad-theme-light .hljs .hljs-prompt,
    .pad-theme-light .hljs .hljs-link_label {
      color: #0075a2; }
    .pad-theme-light .hljs .hljs-link_url {
      color: #0075a2; }
    .pad-theme-light .hljs .hljs-comment,
    .pad-theme-light .hljs .hljs-javadoc,
    .pad-theme-light .hljs .java .hljs-annotation,
    .pad-theme-light .hljs .python .hljs-decorator,
    .pad-theme-light .hljs .hljs-template_comment,
    .pad-theme-light .hljs .hljs-pi,
    .pad-theme-light .hljs .hljs-doctype,
    .pad-theme-light .hljs .hljs-deletion,
    .pad-theme-light .hljs .hljs-shebang,
    .pad-theme-light .hljs .apache .hljs-sqbracket,
    .pad-theme-light .hljs .tex .hljs-formula {
      color: #75715e; }
    .pad-theme-light .hljs .coffeescript .javascript,
    .pad-theme-light .hljs .javascript .xml,
    .pad-theme-light .hljs .tex .hljs-formula,
    .pad-theme-light .hljs .xml .javascript,
    .pad-theme-light .hljs .xml .vbscript,
    .pad-theme-light .hljs .xml .css,
    .pad-theme-light .hljs .xml .hljs-cdata,
    .pad-theme-light .hljs .xml .php,
    .pad-theme-light .hljs .php .xml {
      opacity: 0.5; } }
