{% extends "client/base.html" %}

{% block content %}
	{% if activities %}
	<h1>{{ subject }}</h1>
	<p>
		Activities for this subject:
	</p>
	<ul>
		{% for activity in activities %}
		<li>
			<h2>{{ activity.activity }}</h2>
			<ul>
				{% for note in activity.notes %}
				{{note.date}} {{note}} {% if note.access in editable %} [<a href="/pad/note/{{note.pk}}">edit</a>] {% endif %}<br/>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>
		No subjects are available.
	</p>
	{% endif %}
{% endblock %}
